:root {
  --md-primary-fg-color: #60102f;
  --md-primary-fg-color--light: rgb(123, 136, 204);
  --md-primary-fg-color--dark: #34091a;
}

* {
  --md-typeset-a-color: rgb(123, 136, 204);
}

span.post,
span.get,
span.put,
span.delete,
span.patch {
    display: flex;
}

span.post::before,
span.get::before,
span.put::before,
span.delete::before,
span.patch::before {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 0.8em;
    width: 3em;
    margin-right: 0.5em;
}

span.post::before {
    content: "POST";
    color: #FF5733; /* Color naranja */
}

span.get::before {
    content: "GET";
    color: #119c36; /* Color verde */
}

span.put::before {
    content: "PUT";
    color: #3388FF; /* Color azul */
}

span.delete::before {
    content: "DELETE";
    color: #FF3333; /* Color rojo */
}

span.patch::before {
    content: "PATCH";
    color: #FFD700; /* Color dorado */
}
